/*CSS for basic site styling*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url("hover-min.css");



.container{
  display:grid;
  grid-template-columns: 1fr;
}

p {
    clear:both;
}

.very-small {
    font-size: 50%;
}

.small {
    font-size: 75%;
}

.large {
    font-size: 125%;
}

.very-large {
    font-size: 150%;
}

@font-face {
    font-family: digitalDisplay;
    src: url('../../fonts/digital-7.otf');
	src: url('../../fonts/digital-7.otf') format('otf'), url('../../fonts/digital-7.eot?#iefix') format('embedded-opentype'), url('../../fonts/digital-7.woff') format('woff');
}

.left {
    float: left;
}

.right {
    float: right;
}

.center-content {
    text-align: center;
}

input[type="text"] {
    font-family: 'Open Sans', 'Arial', sans-sefif;
    font-size: 14px;
}

.link span{
    color:#bacfcd;
    /* font-size:30px; */
}
.link2 span{
    color:#813400;
    /* font-size:30px; */
}

.link2:hover span{
    color:#373737;
    font-weight:bold;
}

.link2:hover{
    text-decoration:underline;
    color:#373737;
}

.link:hover span{
    color:#373737;
    font-weight:bold;
}

.link:hover{
    text-decoration:underline;
    color:#373737;
}


.left-side{
  display: flex;
}

.slash-1 {
  height: 5px;
  $color: blue;
  color: $color;
  background-image: linear-gradient(-85deg,
    transparent,
    transparent 25%,
    currentColor 25%,
    currentColor 50%,
    transparent 50%,
    transparent 75%,
    currentColor 75%);
  background-size: 10px 10px;
  width: 100%;
}


body {
  margin-left: 2%;
  justify: center;

}

.sidebar {
        grid-area: sidebar;
    }

    .sidebar2 {
        grid-area: sidebar2;
    }

    .content {
        /* grid-area: content; */
        justify-content: center;

    }
    .sub_cont{
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 2.5%;
      margin-bottom: 2.5%;

      justify-content: center;

    }
    .header {
        grid-area: header;
    }

    .footer {
        grid-area: footer;
    }

    .wrapper {
        background-color: #373737;
        color: #444;
    }

  .wrapper {
    display: grid;
    justify: center;
    grid-gap: 1em;
    grid-template-areas:
     "header"
     "sidebar"
     "content"
     "sidebar2"
     "footer"
  }

    @media only screen and (min-width: 500px)  {
    .wrapper {

        grid-template-columns: 20% auto;
        grid-template-areas:
    "header   header"
        "sidebar  content"
        "sidebar2 sidebar2"
        "footer   footer";
    }
    }

    @media only screen and (min-width: 600px)   {
        .wrapper {
      grid-gap: 1%;
            grid-template-columns: 48% auto 48%;
            grid-template-areas:
      "header  header  header"
            "sidebar content sidebar2"
            "footer  footer  footer";
            max-width: 90%;
        }
    }

.box {
  background-color: #444;
  color: #fff;
  border-radius: 1%;
  padding: 10px;
  font-size: 150%;
}

.header,
.footer {
  background-color: gray;
}

.sidebar2 {
  background-color: #ccc;
  color: #444;
}

.tooltip .tooltiptext {
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}
a {
	color: #808080  ;
	font-weight: bold;
	font-family: helvetica;
	text-decoration: none;
	transition: color .1s ease-in-out;
	-moz-transition: color .1s ease-in-out;
	-webkit-transition: color .1s ease-in-out;
	-o-transition: color .1s ease-in-out;
	
}
a:hover {
	color: #2F4F4F  ;
	transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
}

#boxes {
  content: "";
  display: table;
  clear: both;
}

/* div {
  float: left;
  height: auto;
  padding: 0 10px;
} */

#column1 {
  width: auto;
  /* position:absolute; */
  max-width: 25%;
  max-height: 70%;
  overflow:auto;
  display:inline-block;
  background-color: #767676;
}

#column2 {
  width: auto;
  /* position:absolute; */
  max-width: 65%;
  max-height: 70%;
  overflow:auto;
  display:inline-block;
  /* background-color: #6c6c6c; */
  /* width: 43%; */
}

#column3 {
  background-color: #fff;
}

h2 {
  color: #000000;
  text-align: center;
}
